body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #79acd1, #fe7be8);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  color: red;
}

#otp-screen,
#phone-screen {
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.399);
  backdrop-filter: blur(10px, 0, 0, 0);
}
#phone-screen img {
  width: 200px;
  height: 200px;
  background: transparent;
}
#phone-number {
  border: 2px solid black;
}
#phone-number::placeholder {
  color: black;
}
#otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 4px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .otp-input {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 4px;
  }
}
